<div id="blog-footer">
    <div id="copyright">&copy; 2021 Christopher Wilson</div>
    <div id="built-with">
        Built with <a href="https://github.com/cswilson90/tribo">Tribo</a>
    </div>
</div>

</div><!-- Close id=blog-content div -->
</body>
</html>
