<html>
<head>
    <title>{{.Common.PageTitle}}</title>

    <link rel="stylesheet" href="{{.Common.BaseUrlPath}}/blog.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js" defer></script>
    <script src="{{.Common.BaseUrlPath}}/blog.js" defer></script>
</head>

<body>
<div id="blog-content" class="h-center">

<div id="blog-header">
    <a id="blog-title" href="{{.Common.BaseUrlPath}}">{{.Common.BlogName}}</a>
</div>
