<html>
<head>
    <title>{{.Common.PageTitle}}</title>

    <link rel="stylesheet" href="{{.Common.BaseUrlPath}}/blog.css">
</head>

<body>
<div id="blog-content" class="h-center">

<div id="blog-header">
    <a id="blog-title" href="{{.Common.BaseUrlPath}}">{{.Common.BlogName}}</a>
</div>
