{{template "header.html.tmpl" .}}

<h1>All Blog Posts</h1>
<div id="post-list">
    Filter by Tag:
    <ul class="tag-list tag-search">
    {{- range .AllTags}}
        <li>{{.}}</li>
    {{ end -}}
    </ul>

    <ul class="list">
    {{- range $post_id, $post := .Posts }}
        <li data-id="{{$post_id}}">
            <div class="post-preview">
                <h2 class="post-title"><a href="{{$post.Url}}">{{$post.Title}}</a></h2>
                <ul class="tag-list">
                {{- range $post.Tags }}
                    <li>{{.}}</li>
                {{ end -}}
                </ul>
            </div>
        </li>
    {{ end -}}
    </ul>
    <ul class="pagination"></ul>
</div>

{{template "footer.html.tmpl"}}
