{{template "header.html.tmpl" .}}

<h1>All Blog Posts</h1>
<div id="post-list">
    <ul>
    {{range .Posts}}
        <li>
            <a href="{{.Url}}">{{.Title}}</a>
        </li>
    {{end}}
    </ul>
</div>

{{template "footer.html.tmpl"}}
