{{template "header.html.tmpl" .}}

<h1>All Blog Posts</h1>
<div id="post-list">
    Find Post: <input type="text" class="search" />
    <ul class="list">
    {{range .Posts}}
        <li>
            <a class="title" href="{{.Url}}">{{.Title}}</a>
        </li>
    {{end}}
    </ul>
    <ul class="pagination"></ul>
</div>

{{template "footer.html.tmpl"}}
