{{template "header.html.tmpl" .}}

<h1>{{.Post.Title}}</h1>
{{.Post.PublishDate}}
- <ul class="tag-list">
{{range .Post.Tags}}
  <li>{{.}}</li>
{{end}}
</ul>
</p>
<div id="post-content">
    {{.Post.Content}}
</div>

{{template "footer.html.tmpl"}}
