body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #012A4A;
}

#blog-content {
    background-color: white;
    padding: 1em;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

#blog-header {
    border-bottom-style: solid;
    border-color: #61A5C2;
    padding-bottom: 1em;
}

#blog-title {
    color: #012A4A;
    font-size: xx-large;
    text-decoration: none;
}

.h-center {
    margin: auto;
    max-width: 42em;
}

ul.tag-list {
    display: inline;
    padding: 0;
}

ul.tag-list li {
    display: inline;
    text-decoration: underline;
}

#post-list .list {
    list-style: none;
    padding: 0;
}

#post-list .post-title {
    font-size: 26;
    margin: 1 0;
}

#post-list .pagination {
    list-style: none;
    padding: 0;
}
