body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #012A4A;
}

.hidden {
    display: none;
}

#blog-content {
    background-color: white;
    padding: 0 1em;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

#blog-header {
    border-bottom-style: solid;
    border-color: #61A5C2;
    padding: 1em 0;
}

#blog-title {
    color: #012A4A;
    font-size: xx-large;
    text-decoration: none;
}

#blog-footer {
    border-top-style: solid;
    border-color: #61A5C2;
    padding: 1em 0;
}

#blog-banner {
    width: 75%;
    display: inline-block;
}

#rss-link {
    width: 24%;
    display: inline-block;
    text-align: right;
}

#copyright {
    width: 49%;
    display: inline-block;
}

#built-with {
    width: 49%;
    text-align: right;
    display: inline-block;
}

.h-center {
    margin: auto;
    max-width: 42em;
}

ul.tag-list {
    display: inline;
    padding: 0;
}

ul.tag-list li {
    display: inline;
    text-decoration: underline;
}

ul.tag-search li.active {
    border-style: dotted;
    border-width: 1px;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

#post-list .list {
    list-style: none;
    padding: 0;
}

#post-list .list li {
    margin-bottom: 1em;
}

#post-list .post-title {
    font-size: 26;
    margin: 1 0;
}

#post-list .pagination {
    list-style: none;
    padding: 0;
}
